.gallery-title{
	padding-top: 150px;
}
.gallery-photo{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	display: block;
	padding: 50px 0 100px 0;
	overflow: hidden;
}
.photo{
	overflow: hidden;
	position: relative;
	width: 333.33px;
	height: 333.33px;
	cursor: pointer;
	float: left;
}
.judul{
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: 0.8s;
	cursor: pointer;
}
.judul h1{
	color: white;
	line-height: 300px;
	font-size: 15pt;
	font-family: lato light;
	text-align: center;
	display: none;
}
.photo:hover .judul{
	background: rgba(0,0,0,0.5);
}
.photo:hover h1{
	display: block;
}
.photo img{
	width: auto;
	height: 100%;
	display: block;
	position: 
}
@media screen and (max-width: 768px) {
	.gallery-title{
		padding-top: 50px;
	}
	.gallery-photo{
	    width: 100%;
	  }
	 .photo{
	 	height: 333.33px;
	 	width: 333.33px;
	 	margin: 0 auto;
	 	float: none;
	 }
}