*{
	padding: 0;
	margin: 0;
}
.isi-kurikulum{
	width: 80%;
	height: 500px;
	margin: 0 auto;
}
.judul{
	text-align: center;
	font-family: raleway;
	margin: 40px 0 25px 0;
}
.separator {
	margin: 10px auto 40px;
	width: 150px;
	border: 0;
	height: 5px;
	background-color: #444;
}
.semester{
	font-family: lato;
	clear: both;
	padding-left: 15px;
	padding-top: 15px;
}
.isi-kurikulum p{
	font-family: lato;
	font-size: 16pt;
	background: blue;
	padding: 10px 25px;
	display: block;
	float: left;
	margin: 10px;
	color: white;
}